__pycache__/
plant_viz/
pcla_agents/*pretrained*/
wandb/
pretrained/
eval/
.venv/
venv/
env/
.pytest_cache/
.ipynb_checkpoints/
pcla_agents/pretrained.zip
.vscode
*.bak_*
*.bak
minimum_safe_distance_logs/
__pycache__/
*.pyc
test/